html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 19%, rgba(8,122,145,1) 100%);
}

html{
    scroll-behavior: smooth;
}

header {
    background: url(bar2.jpg) no-repeat 50% 50%;
    display: table;
    height: 100%;
    width: 100%;
    color: white;
    background-size: cover;
}

.intro-body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.uitschrijven-datum{
    background-color: red;
}

.btn-circle {
    color: white;
    border-color: white;
}

.btn-circle:hover {
    color: grey;
    border-color: grey;
}

img {
    max-width: 100%;
}